@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.header-container {
    width: 100%;
    background-color: #ff900e1a;
}

.nav-banner-container {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;

}

.list a {
    text-decoration: none;
    margin-left: 30px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner section start */

.banner-container {
    margin-top: 100px;
}
.banner-items{
    width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    padding: 20px 30px;
}
.banner-container img{
    margin: 50px 0px;
    width: 100%;
}

/* features section start */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.feature-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding:120px;
    
}
    

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.text-content{
   margin-left: 70px;
   margin-right: 70px;

}
.title{
    margin-bottom: 30px;
    font-size: 2.8rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.text-design{
    color: #FF900E;
    font-weight: 700;
}
.text-content p{
    width: 537px;
    margin-bottom: 30px;
}